{% extends "layout.html" %}

{% block container %}

<h1>About</h1>

<h2>Welcome to CodeGenius - Your Path to Mastering Programming Skills </h2>

   <h3> At CodeGenius, we are dedicated to empowering individuals with the knowledge and skills needed to excel in the dynamic world of programming. 
Our mission is to provide comprehensive, engaging, and accessible courses that cater to learners of all levels, from beginners to seasoned professionals.</h3>
    

    
    Ready to Unleash Your Inner CodeGenius?
    
    Whether you're a beginner looking to start your programming journey or an experienced developer seeking to expand your skillset, CodeGenius has the perfect course for you. Start exploring our course offerings today and take the first step towards a rewarding career in programming. We can't wait to see you succeed!

{% endblock %}
