<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/landing.css">
    <title>landing page</title>
</head>

<body>
    <div class="landing-container">

        <p><a href="{{ url_for('home') }}">Home page</a></p>
        <h1 class="land-h1">CodeGenius</h1>

        <h3>The main idea:</h3>
        <div class="intro">
            <ul class="concept">
                <li> The application provides courses reservation service for the users.</li>
                <li>Users need to register then choose the courses suite them.</li>
                <li>There are registration and login forms, with all necessary validations.</li>
                <li>The database is updated dynamically for users and courses.</li>

            </ul>
            <img src="../static/landing_images/firework.webp" alt="Code Genius picture">
        </div>

        <h3>1- Registration form:</h3>



        <img src="../static/landing_images/register.webp" alt="">

        <ul class="concept">
            <li>User submits required information of username, email and password</li>
        </ul>

        <h3>2 Login form:</h3>
        <img src="../static/landing_images/login.webp" alt="">

        <ul>
            <li>Email and password are required to sign-in</li>
        </ul>


        <h3>2- Users:</h3>

        <img src="../static/landing_images/member area.webp" alt="">
        <ul>
            <li>Users can easily choose and reserve the suitable courses in the member area page. </li>
        </ul>
        <h3>3- Admin:</h3>

        <img src="../static/landing_images/admin.webp" alt="">
        <ul>
            <li>Admin checks out courses, users and their reservation.</li>
        </ul>



    </div>
</body>

</html>