<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>{{title}}</title>
</head>

<body>

  <header>
    <h3><a href="#">CodeGenius (landing page)</a></h3>
    <div>
      <ul class="around-lu">
        <li> <a href="{{ url_for('home') }}">Home</a></li>
        <li> <a href="#">About</a></li>
      </ul>
    </div>

    <div>
      <ul class="around-lu">
        <li> <a href="{{ url_for('register') }}">Register</a></li>
        <li> <a href="#">Login</a></li>
      </ul>
    </div>
  </header>


  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flashed-msg">
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div class="container">

    {%block container%}
    {%endblock%}

  </div>


</body>

</html>