<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>{{title}}</title>
</head>

<body>

  <header>
    <h3><a href="{{ url_for('landing_page') }}">CodeGenius</a></h3>
    <div>
      <ul class="around-lu">
        <li> <a href="{{ url_for('home') }}">Home</a></li>
        <li> <a href="{{url_for('about')}}">About</a></li>
      </ul>
    </div>

    <div>
      {% if current_user.is_authenticated %}
      <ul class="around-lu">
        {% if current_user.id == 5 %}
          <li> <a href="{{url_for('admin')}}">Admin</a></li>
        {% else %}
          <li> <a href="{{url_for('member_area')}}">Member Area</a></li>
        {% endif %}
        <li> <a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
      {% else %}
      <ul class="around-lu">
        <li> <a href="{{ url_for('register') }}">Register</a></li>
        <li> <a href="{{url_for('login')}}">Login</a></li>
      </ul>
      {% endif %}
    </div>
    
  </header>


  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flashed-msg">
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div class="container">

    {%block container%}
    {%endblock%}

  </div>


</body>

</html>