{% extends "layout.html" %}
{% block container %} 
 <div class="form-wrapper1">
    <div class="form-wrapper2">
        <h1>Login</h1>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}

            <div class="user-field">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-field") }}
                {% for error in form.email.errors %}
                <div class="form-field-error"> {{ error }}</div><br>
                {% endfor %}
            </div>

            <div class="user-field">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-field") }}
                {% for error in form.password.errors %}
                <div class="form-field-error"> {{ error }}</div><br>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.submit(class="form-btn") }}
            </div>

        </form>
    </div>
</div> 
 {% endblock %}