
body {
    margin: 0;
    color: #000;
    background-color: #d1cccce5;
    font-family: Arial, Helvetica, sans-serif;

}

header{

    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ec763b;
    margin:0;
}

.around-lu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.around-lu li {
    margin: 5px;
}

a {
    text-decoration: none;
    color:#000;
}

a:visited {
    color: #000;
  }

a:hover {
    color: #fff;
}

.container {
    padding: 15px;
}

.wrappers {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;


}

.wrapper1 {
    width: 30%;
    height: 400px;
    background-image: url('../static/images/main.webp');
    border-radius: 20px;
    box-shadow: 2px 2px 2px #888888;
}

.wrapper2 {
    padding: 20px;
    width: 30%;
    height: 360px;
    background-color: #ec763b;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #888888;
}

.form-wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper2 {
    background-color: #f6a278fe;
    padding: 20px;
    border-radius: 15px;
    
}

.form-label {
    font-size: 1.2rem;
    font-weight: 700;
}

.form-field{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-field-error{
    color: red;
}


.form-btn {
    color: #000;
    background-color: #ec763b;
    font-size: 1.2rem;
}

.flashed-msg {
    text-align: center;
    background-color: rgb(231, 231, 169);
    width: fit-content;
    margin: 0 auto;
}

.home-text{
    text-align: center;
}



.chkbx-line{
    padding-bottom: 10px;
}

.save-courses {
    background-color: #ec763b; 
    color: #000;
    /* padding: 5px 5px; */
    /* border: none; */
    cursor: pointer;
    font-size: 16px;
}


.chosen-course {
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 0;
    margin: 0; */
}

.chosen-course p{
    padding: 0;
    margin: 0;
    width: 120px;
    padding-bottom: 10px;
}
.chosen-course a{
    margin-left: 75px;
    padding: 0;
    margin: 0;
}

.chosen-course a:hover{
    color: red;

}




